@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

/* Custom Properties */
:root{
    --first-color: #4ec26d;
    --first-alpha-color: rgba(71, 149, 45, 0.70);
    --second-color:#000;
    --second-alpha-color: rgba(0, 0, 0, 0.75);
    --third-color: #501464;
    --third-alpha-color:rgba(80,20,100,0.75);
    --white-color:#fff;
    --gray-light-color:#f3f3f3;
    --gray-color:#ccc;
    --gray-dark-color:#666;
    --black-color:#000;
    --link-color:#509ee3;
    --title-color:#333;
    --text-color:#222;
    --white-alpha-color:rgba(255,255,255,0.5);
    --black-alpha-color:rgba(0,0,0,0.8);
    --font:"Raleway", sans-serif;
    --max-width:1200px;
    --header-height:4rem;
}

/* Reset */
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}
/* ? ancho y altura desde borde y no contenido, selector universal, todos los elementos su contenido generado dinamicamente con after y before hereden el modelo de caja */
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    /* para que no salga la barra de desplazamiento horizontal: */
    overflow-x: hidden; 
}

a{
    color: var(--link-color);
    transition: all 0.5s ease-out;

}
a:hover{
    opacity: 0.75;
}

h1{
    margin: 0;
    font-size: 2rem;
}
h2{
    margin: 0;
    font-size: 1.5rem;
}
h3{
    margin: 0;
    font-size: 1.25rem;
}
h4{
    margin: 0;
    font-size: 1rem;
}
h5{
    margin: 0;
    font-size: 0.85rem;
}
h6{
    margin: 0;
    font-size: 0.7rem;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    line-height: 1.6;
}

/* Components */

/* Contact Form */
.contact-form{
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}
.contact-form > *{
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
    background-color: var(--gray-light-color);
}
.contact-form input,
.contact-form textarea{
    font-size: 0.85rem;
    font-family: var(--font);
}
.contact-form input{
    border: 0;
    padding-left: 0;
    border-bottom: thin solid var(--gray-dark-color);
}
.contact-form textarea{
    border: thin solid var(--gray-dark-color);
    resize: none;
}
.contact-form input[type='submit']{
    margin-top:0;
    cursor: pointer;
    transition: all .5s ease-out;
}
.contact-form input[type='submit']:hover{
    opacity: .75;
}
.contact-form *::placeholder{
    color: var(--gray-dark-color);
}
.contact-form-response{
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
}
.contact-form-response svg{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
}
.modal#gracias:target{
    opacity: 1;
    pointer-events: auto;
}

/* Desktop Size */
@media screen and (min-width: 1024px){
    .contact-form input,
    .contact-form textarea{
        font-size: 1rem;
    }
    .contact-form textarea,
    .contact-form-loader{
        grid-column: span 2;
    }
    .contact-form input[type='submit']{
        margin-left: 0;
    }
}

/* HeroImage */
.hero-image{
    background-color: var(--black-color);
    background-image: url(../assets/hero-image-home.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/* Menu */
.menu, .logo{
    display: none;
}
.menu-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .3rem;
    cursor: pointer;
}
.menu-icons>a>svg{
    fill: var(--first-color);
    transition: all 0.5s ease-out;
}
.menu-icons>a>svg:hover, .menu-icons>a.active>svg, 
.menu>a:hover,.menu>a.active 
{
    color: var(--white-color);
    fill: var(--white-color);
    transform: scale(1.5); 
    transition: all 0.4s ease-out;
}

/* Desktop Size */
@media screen and (min-width: 1024px){
    .menu,.logo{
        display: flex;
        font-size: 1rem;
    }
    .menu a{
        color: var(--first-color);
        text-align: center;
        text-decoration: none;
        padding: 0 1.2rem;
    }
    .menu-icons{
        display: none !important;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 5%;
    }
}

/* Modal */
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}
  
.modal-content {
    position: relative;
}
.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}


/* Utilities */
.bg-gray-light{
    background-color: var(--gray-light-color);

}
.box-shadow-1{
    box-shadow: 0px 4px 10px 8px rgba(112, 112, 112, 0.25);
}
.btn{
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
.none{
    display: none;
}
.section{
    padding: 5rem 1rem;
}
.section-title{
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 0 auto 3rem;
    padding: .5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--title-color);
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
@media screen and (min-width: 1024px){
    .text-lg-center{
        text-align: center;
    }
    .text-lg-left{
        text-align: left;
    }
    .text-lg-right{
        text-align: right;
    }
    .screen-lg{
        width: 100%;
        min-height: 100vh;
    }

}



/*************Site Styles***************/

/* About me section  */
.about>.container{
    display: grid;
    grid-template-columns: 85%;
    gap: 2rem;
    justify-content: center; 
    align-content: space-evenly; 
    justify-items: center; 
    align-items: stretch; 
}
.about>.container>.text-left{
    justify-self: start;
}

.skills-grid{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    align-items: start;
    gap: 1rem;
}
.skill-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.skill-card > p {
    font-size: .8rem;
}
.skill-card{
    width: 50%;
    height: 50%;
}
.skill-card > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Contact section */
.contact-cards{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1rem;

}
.contact-card{
    width: 115px;
    height: 115px;
    border-radius: 100%;
    margin: 0 auto;
    padding: 1rem;

}
.contact-card>a, .contact-card>div{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: .2rem;
}
.contact-card>*>svg{
    width: 2rem;
    height: 2rem;
    transition: all .5s ease-out;
}
.contact-card:hover>*>svg{
    fill: var(--first-color);
}

/* Footer section */
.footer{
    margin-bottom: var(--header-height);
    padding: .5rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--second-color);
}
.footer a{
    text-decoration: none;
    color:var(--white-color);
}

/*  Header section */
.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    background-color: var(--second-color);
}
.header > .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* Home */
.home{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--black-alpha-color);
    top: -65px;
}
.hero-content{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.hero-picture-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 7px double var(--first-color);
    border-radius: 17px;
    
}
.hero-description{
    padding: 1rem;
}
.hero-title-span{
    font-size: 4.5vh;
    color: var(--gray-color);
}
.hero-title-me{
    font-size: 6vh;
    color: var(--first-color);
}

/* Portfolio Section */
.portfolio > .container{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    gap: 1.5rem;
}
.portfolio > div > h2{
    grid-column: span 2;
    grid-auto-rows: 0;
}
.portfolio-card{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.portfolio-card img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    transition: all 1s;
    border-radius: 5px;
}
.portfolio-card-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--second-alpha-color);
    color: var(--white-color);
    
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}
.portfolio-card:hover >img{
    transition: all 1s;
    border-radius: 10px;
    transform: scale(1.3);
}
.portfolio-card:hover .portfolio-card-info{
    opacity: 1;
    pointer-events: auto;
}

.portfolio-card-info > h3{
    grid-column: span 2;
    grid-row: 1;
}
.portfolio-card-info > small{
    grid-column: span 2;
    grid-row: 2;
}
.portfolio-card-info > div{
    grid-column: span 2;
    grid-row: 3;
    fill: var(--white-color);
}
.portfolio-card-info svg{
    width: 2rem;
    height: 2rem;
}
.portfolio-card-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: .5rem;
}
.portfolio-card-info .portfolio-card-links{
    grid-column: span 2;
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.icon-link-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    fill: var(--white-color);
    text-decoration: none;
    color: var(--white-color);
}
.icon-link-card>svg{
    width: 1.5rem;
    height: 1.5rem;
}
.text-link-card{
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}
.icon-link-card:hover .text-link-card{
    opacity: 1;
    pointer-events: auto;
}

/* Services Section */
.services > .container{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    align-items: center;
}
.services .section-title{
    grid-column: span 2;
}
.service-card{
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}
.service-card h3{
    color: var(--title-color);
}
.service-card>svg{
    margin-bottom: 1.5rem;
    width: 4rem;
    height: 4rem;
    transition: all .3s ease-in-out;
}
.service-card>svg:hover{
    fill: var(--first-color);
}

/* Tablet Size */
@media screen and (min-width: 768px){
    .about>.container{
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        grid-template-areas: 
        "about about"
        "description title-skills"
        "description skills";
        gap: 1rem;
    }
    .title-about{
        grid-area: about;
    }
    .about-description{
        grid-area: description;
    }
    .title-skills{
        grid-area: title-skills;
    }
    .skills-grid{
        grid-area: skills;
    }

    .contact-cards{
        grid-template-columns: repeat(4, 25%);
    }
    .contact-card{
        width: 150px;
        height: 150px;
        transition: all 0.5s ease-in;
    }
    .contact-card>a, .contact-card>div{
        gap: .8rem;
    }

}

/* Desktop Size */
@media screen and (min-width: 1024px){
    .about-description>h2{
        padding-bottom: 5rem;
    }
    .about-description>div>p{
        padding-bottom: 2rem;
    }
    .about-description>a{
        margin-top: 2rem;
    }
    .footer{
        margin-bottom: 0;
    }
    .header{
        position: sticky;
        top: 0;
        padding: 5px;
    }
    .portfolio > .container{
        grid-template-columns: repeat(3, 30%);
    }
    .portfolio .section-title{
        grid-column: span 3;
    }
    .services > .container{
        grid-template-columns: repeat(3, 30%);
    }
    .services .section-title{
        grid-column: span 3;
    }
    
}



